/.DS_Store
/.idea
/.vscode
/bootstrap/cache/*
!bootstrap/cache/.gitkeep
/node_modules
/npm-debug.log
/out
/storage/*.key
/storage/framework/cache/*
!storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
/storage/framework/views/*
!storage/framework/views/.gitkeep
/storage/logs/*
!storage/logs/.gitkeep
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.rnd
/vendor
*.sqlite
database/food_ordering.sqlite
